#logo_href{
    display: block;
    width: 10%;
    margin: 5px;
    margin-right: 100px;
    float: left;
}

#logo_img {
    width: 100%;
}

  /* Body Styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  /* Header Styles */
  h2 {
    background-color: #555;
    color: #fff;
    padding: 20px;
    margin: 0;
  }

  /* Navbar Styles */
  #topNavbar {
      background-color: #333;
      color: #fff;
    border-bottom: 2px solid #357ABD; /* Bottom border to separate navbar from content */
    padding: 10px;
  }

  #topNavbar button {
    background-color: #fff; /* Button background color in the navbar */
    color: #4285F4; /* Button text color in the navbar */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
  }

  #topNavbar button:hover {
    background-color: #ddd; /* Button background color on hover */
  }

  /* Form Styles */
  form {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 300px;
    text-align: center;
  }

  /* Input Styles */
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: none;
  }

  input[type="submit"] {
    background-color: #4285F4; /* Change to your desired color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  input[type="submit"]:hover {
    background-color: #357ABD; /* Change to your desired hover color */
  }


        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button[type="submit"] {
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            margin-top: 10px;
            cursor: pointer;
        }

        #registrationMessage {
            margin-top: 10px;
        }

        label {
            display: block;
            margin-top: 10px;
        }
        .loader {
                                                border: 8px solid #f3f3f3;
                                                border-top: 8px solid #3498db;
                                                border-radius: 50%;
                                                width: 50px;
                                                height: 50px;
                                                animation: spin 1s linear infinite;
                                            }

                                            @keyframes spin {
                                                0% { transform: rotate(0deg); }
                                                100% { transform: rotate(360deg); }
                                            }
        #centered {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        height: 100vh;
                                        margin: 0;
        }

/*
body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            text-align: center;
            margin: 0;
            padding: 0;
        }

        h2 {
            background-color: #333;
            color: #fff;
            padding: 20px;
            margin: 0;
        }

        form {
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin: 20px auto;
            max-width: 300px;
        }

        label {
            display: block;
            margin-top: 10px;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button[type="submit"] {
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            margin-top: 10px;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            background-color: #555;
        }

        #registrationMessage {
            margin-top: 10px;
        }










body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            text-align: center;
            margin: 0;
            padding: 0;
        }

        h2 {
            background-color: #333;
            color: #fff;
            padding: 20px;
            margin: 0;
        }

        form {
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin: 20px auto;
            max-width: 300px;
        }

        */